<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Lyft</title>
  <!--Import Favicon-->
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <!--Import Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <!--Import Icon Font-->
  <link type="text/css" rel="stylesheet" href="../assets/icons/fontawesome-5.0.2/web-fonts-with-css/css/fontawesome-all.min.css">
  <!--Import bootstrap.css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!--Import main.css-->
  <link type="text/css" rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Homepage -->
  <main>
    <div class="container-fluid backgroung-home space-homepage">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img src="../assets/images/logo-white.png" alt="lyft-white" class="img-responsive center-block logo-top">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="../assets/images/lyft-lyfe.png" alt="lyft-lyfe" class="img-responsive center-block logo-central">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <div class="center-btn">
            <button class="btn btn-default btn-transparent text-uppercase" type="submit">login in</button>
            <button class="btn btn-default btn-transparent text-uppercase" id="btn-signup" type="submit">sign up</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--Import jQuery before bootstrap.js-->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!--Import homepage.js-->
  <script type="text/javascript" src="../js/homepage.js"></script>
</body>

</html>