<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Lyft</title>
  <!--Import Favicon-->
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <!--Import Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <!--Import Icon Font-->
  <link type="text/css" rel="stylesheet" href="../assets/icons/fontawesome-5.0.2/web-fonts-with-css/css/fontawesome-all.min.css">
  <!--Import bootstrap.css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!--Import main.css-->
  <link type="text/css" rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Homepage -->
  <!-- Navbar-->
  <nav class="navbar navbar-default color-violet">
    <div class="container-fluid space">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand" id="left">
            <i class="fas fa-angle-left"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Sign up</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center">Join now for free ride credit</h3>
        </div>
      </div>
    </div>
  </nav>
  <!-- Container-->
  <main>
    <div class="container">
      <div class="row">
        <div class="input-group col-xs-12 flex-center justify-center margin-top">
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" id="select-country" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Select
              <span class="caret"></span>
            </button>
            <!-- Lista de paises - bandera y código-->
            <ul class="dropdown-menu ul-stretch" id="country" >
              <li>
                <a href="#" data-value="+51">
                  <img src="../assets/icons/bandera-peru.png" alt="bandera-peru">
                </a>
              </li>
              <li>
                <a href="#" data-value="+57">
                  <img src="../assets/icons/bandera-colombia.png" alt="bandera-colombia">
                </a>
              </li>
              <li>
                <a href="#" data-value="+52">
                  <img src="../assets/icons/bandera-mexico.jpg" alt="bandera-mexico">
                </a>
              </li>
              <li>
                <a href="#" data-value="+01">
                  <img src="../assets/icons/bandera-usa.png" alt="bandera-usa">
                </a>
              </li>
            </ul>
          </div>
          <div class=" col-xs-offset-2 col-xs-3 col-sm-offset-1 text-left">
            <input class="form-control text-center" id="code-country" type="text" placeholder="xx">
          </div>
          <i class="fas fa-minus"></i>
          <!-- Para ingresar el número de teléfono-->
          <div class="col-xs-5">
            <input type="text" class="form-control text-center" id="num-phone" value="" placeholder="123456789" aria-label="..." disabled="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center margin-top">
          <h6>We'll send a text to verify your phone</h6>
        </div>
      </div>
    </div>
    <!-- Alert del número telefonico -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
          <div id="info" class="alert alert-info alert-dismissible margin-top">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <i class="fas fa-info-circle"></i>
            <strong> Info!</strong> Ingresa un número de 9 dígitos, por favor.
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
          <div class="center-block margin-top">
            <button class="btn btn-default btn-block btn-lg text-uppercase color-violet margin-top btn-effect" id="btn-next" type="button" disabled="">next</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--Import jQuery before bootstrap.js-->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!--Import app.js-->
  <script type="text/javascript" src="../js/signup.js"></script>
</body>

</html>